.content {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  background: white;
  color: #363636;

  &:after,
  &:before {
    display: table;
    content: "";
    clear: both;
  },
  > .container{
    > .row{
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
