node_modules/
bower_components/
.DS_Store
.idea
psd/

# bem
.enb/tmp

bem/docs
bem/examples
npm-debug.log

/index.html
/bem/pages/**/*.bh.js
/bem/pages/**/*.bemdecl.js
/bem/pages/**/*.deps.js
/bem/pages/**/*.html
/bem/pages/**/*.beauty.html
/bem/pages/**/*.css
/bem/pages/**/*.js
!/bem/pages/**/*.bemjson.js
!/bem/pages/_common/*
.rar



/favicons


