.oMind-library-examples__equal-height {
  float: left;
  width: 25%;
  border: 1px solid black;
  padding: 50px;
  margin-bottom: 10px;


}
ul {
  //margin: 0 !important;
  padding: 5px;
  list-style-type: none;
}