/*csslint known-properties:false */
/*csslint duplicate-properties:false */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
/*csslint known-properties:true */
/*csslint duplicate-properties:true */
